@import "css3-animation-lib.scss";
@import "base.scss";

.btn {
	float:left;
	margin: 0 20px;

	width: 120px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #ccc;
	cursor: pointer;
	text-align: center;
	transition: all 0.5s;
	position: relative;
	overflow: hidden;
}

.container {
	width: 1200px;
	margin: 40px auto;
	ul {
		li {
			margin-bottom: 20px;
			padding: 40px 20px;
			border: 1px solid #ccc;
			clear: both;
			&:after {
				content: "";
				display: block;
				clear: both;
			}
		}
	}
	.btn:after {
		content: '';
		position: absolute;
		z-index: -1;
		transition: all 0.3s;
	}


	.btn-ie1:hover {
		background: #ccc;
	}

	.btn-ie2:hover:before {
		left: 10px;
	}

	.btn3a {
		padding-left: 20px;
		&:before {
			font-family: "FontAwesome";
			content: "\f072";
			font-size: 22px;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 40%;
			color: #000;
		}
	}
	.btn3a.btn-active {
		animation: 0.5s fadeOutText;
		&:before {
			animation: 0.5s moveToRight;
		}
	}

	@keyframes fadeOutText {
		0% { color: transparent; } //当前元素属性透明，不包含子元素，当前元素的color为透明
		80% { color: transparent; }
		100% { color: #000; }
	}
	@keyframes moveToRight {
		80% { transform: translateX(250%); }
		81% { opacity: 1; transform: translateX(250%); } //右侧终点位置
		82% { opacity: 0; transform: translateX(250%); } //原地隐身
		83% { opacity: 0; transform: translateX(-50%); } //隐身移动到左侧
		84% { opacity: 1; transform: translateX(-50%); } //原地现行
		100% { transform: translateX(0%); }
	}

	.btn3b {
		padding-left: 20px;
		&:before {
			font-family: "FontAwesome";
			content: "\f0e0";
			font-size: 22px;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 40%;
			color: #000;
		}
	}
	.btn3b.btn-active {
		&:before {
			animation: 0.5s scaleUp;
		}
	}
	@keyframes scaleUp {
		80% {
			opacity: 0;
			transform: scale(2);
		}
		100% {
			opacity: 0;
			transform: scale(2);
		}
	}

	.btn4a {
		&:before {
			font-family: "FontAwesome";
			content: "\f04b";
			font-size: 22px;
			height: 100%;
			width: 100%;	
			position: absolute;
			top: 0;
			left: 0;	
		}
		&:after {
			content: '';
			position: absolute;
			z-index: -1;
			left: 0;
			top: 0;
			width: 0;
			height: 100%;
			background: #ccc;
			transition: none;
		}
	}
	.btn4a.btn-active {
		&:after {
			animation: 1s fillToRight forwards;
		}
	}
	@keyframes fillToRight {
		to {
			width: 100%;
			background: #ccc;
		}
	}

	.btn4b {
		&:before {
			font-family: "FontAwesome";
			content: "\f1f8";
			font-size: 22px;
			height: 100%;
			width: 100%;	
			position: absolute;
			top: 0;
			left: 0;	
		}
		&:after {
			content: '';
			position: absolute;
			z-index: -1;
			left: 0;
			top: 0;
			width: 100%;
			height: 0;
			background: #ccc;
			transition: none;
		}
	}
	.btn4b.btn-active {
		&:after {
			animation: 1s emptyBottom forwards;
		}
	}
	@keyframes emptyBottom {
		to {
			height: 100%;
			background: #ccc;
		}
	}

	.btn5a {
		&:before {
			font-family: "FontAwesome";
			content: "\f08a";
			font-size: 22px;
			height: 100%;
			width: 100%;	
			position: absolute;
			top: 0;
			left: 0;	
		}
		&:after {
			font-family: "FontAwesome";
			content: '\f004';
			position: absolute;
			left: 0;
			z-index: 0;
			width: 100%;
			height: 100%;
			color: red;
			transform: scale(0);
			font-size: 22px;
		}
	}
	.btn5a.btn-active {
		&:after {
			animation: 0.8s scaleFade forwards;
		}
	}
	@keyframes scaleFade {
		50% { 
			opacity: 1;
			transform: scale(1);
		}
		100% {
			opacity: 0;
			transform: scale(2.5);
		}
	}

	.btn5b {
		&:before {
			font-family: "FontAwesome";
			content: "\f006";
			font-size: 22px;
			height: 100%;
			width: 100%;	
			position: absolute;
			top: 0;
			left: 0;	
		}
		&:after {
			font-family: "FontAwesome";
			content: '\f005';
			position: absolute;
			left: 0;
			z-index: 0;
			width: 100%;
			height: 100%;
			color: #ffe44d;
			transform: scale(4);
			opacity: 0;
			font-size: 22px;
		}
	}
	.btn5b.btn-active {
		&:after {
			animation: 0.3s dropDown forwards;
		}
	}
	@keyframes dropDown {
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}

	.btn6a {
		padding-left: 20px;
		&:before {
			font-family: "FontAwesome";
			content: "\f1d8";
			font-size: 20px;
			height: 100%;
			width: 40%;	
			position: absolute;
			top: 0;
			left: 0;
			color: #000;
		}
		&:after {
			content: "";
			position: absolute;
		}
	}
	.btn6a.btn-active {
		color: transparent;
		&:before {
			content: '\f118';
		}
		&:after {
			content: "Success";
			animation: moveUp 0.5s;
			z-index: 1;
			left: 40%;
			color: #000;
		}
	}
	@keyframes moveUp {
		0% {
			transform: translateY(50%);
			opacity: 0;
		}
		100% { 
			transform: translateY(0);
			opacity: 1;
		}
	}

	.btn6b {
		padding-left: 20px;
		&:before {
			font-family: "FontAwesome";
			content: "\f1d8";
			font-size: 20px;
			height: 100%;
			width: 40%;	
			position: absolute;
			top: 0;
			left: 0;
			color: #000;
		}
		&:after {
			content: "";
			position: absolute;
		}
	}
	.btn6b.btn-active {
		color: transparent;
		animation: shake 0.5s;
		&:before {
			content: '\f11a';
		}
		&:after {
			content: "Error";
			animation: scaleFromUp 0.5s;
			z-index: 1;
			left: 46%;
			color: #000;
		}
	}
	@keyframes scaleFromUp {
		0% {
			transform: scale(0);
			opacity: 0;
		}
		100% { 
			transform: scale(1);
			opacity: 1;
		}
	}
	@keyframes shake {
		0%, 100% {transform: translateX(0);}
		10%, 30%, 50%, 70%, 90% {transform: translateX(-5px);}
		20%, 40%, 60%, 80% {transform: translateX(5px);}
	}

}
